{%extends 'all-galleries/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of filtered terms  "{{message}}"</h2>
    {% else %}
      <h2> Found 0 images for the filtered terms "{{message}}" </h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for picture in images %}
      <div class="col-sm-6 col-md-3">
        
          <h1>{{picture.image_name}}</h1>
          <img src="{{picture.image.url}}" class="img-responsive">
        
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}