{% extends 'all-galleries/base.html' %}
{% block content %} 
{{ block.super}}
  <div class="container">
    <!-- Looping through gallery   -->
    {% for gallery_item in gallery %}

    <div class="row">
      <!-- displaying Gallery images -->
      <div class="col-md-3">
        <h2 > {{ gallery_item.image_name }} </h2><br>
        <a href="" data-toggle="modal" data-target="#{{gallery_item.id}}">
          <img src="{{gallery_item.image.url}}" class="img-responsive" alt="Image" width=200 height=200>   
        </a>
        <br>
        <div class="row">
          <button class="btn btn-primary">Update Image</button>
          <button class="btn btn-primary" delete_image()>Delete Image</button> 
        </div><br>
        <div class="row">
          <button class="btn btn-primary">Copy Image Link</button> 
        </div>

        <!-- Modal -->
        <div id="{{gallery_item.id}}" class="modal fade" role="dialog">
          <div class="modal-dialog">
           <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h2 class="modal-title" style="color:green;">Image Details</h2>
              </div>
              <div class="modal-body">
                <h2 > {{ gallery_item.image_name }} </h2><br>
                <img src="{{gallery_item.image.url}}" class="img-responsive" alt="Image"><br>
                <p style="color:green;"><u>Category</u>: {{ gallery_item.image_category }}</p> 
                <p style="color:green;"><u>Description</u>: {{ gallery_item.image_description }}</p> 
                <p style="color:green;"><u>Location</u>:{{ gallery_item.image_location }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div> 
            </div>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="row">
        <h2 class="text-center">There No News Items</h2>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}