
{%extends 'all-galleries/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

    <!-- Looping through news   -->
    {% for gallery_item in gallery %}
  
    <div class="row">
      <!-- displaying News articles -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center"> {{ gallery_item.image_name }} </h2><br>
        {{ gallery_item.image_description }} {{ gallery_item.image_category }} {{ gallery_item.image_location }}
         <a href="">Image Details</a>
      </div>
      <button>Delete</button>
  
      <!--Display news Article images  -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{gallery_item.image.url}}" class="img-responsive" alt="Image">
      </div>
    
  
  
    </div>
  
    {% empty %}
    <div class="row">
      <h2 class="text-center">There No Gallery Items</h2>
    </div>
    {% endfor %}
  
  </div>


{% endblock %}






